openapi: 3.2.0
info:
  title: Plausible Sites Custom Props API
  description: The Plausible Sites API enables developers to programmatically manage sites, teams, goals, custom properties, shared links, and guest access within their Plausible account.
  version: 1.0.0
  contact:
    name: Plausible Support
    url: https://plausible.io/contact
  license:
    name: AGPL-3.0
    url: https://github.com/plausible/analytics/blob/master/LICENSE.md
servers:
- url: https://plausible.io
  description: Plausible Cloud
security:
- bearerAuth: []
tags:
- name: CustomProps
paths:
  /api/v1/sites/custom-props:
    get:
      tags:
      - CustomProps
      summary: List custom properties
      operationId: listCustomProps
      responses:
        '200':
          description: A list of custom properties.
    put:
      tags:
      - CustomProps
      summary: Create custom property
      operationId: createCustomProp
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomProp'
      responses:
        '200':
          description: Created.
  /api/v1/sites/custom-props/{property}:
    parameters:
    - in: path
      name: property
      required: true
      schema:
        type: string
    delete:
      tags:
      - CustomProps
      summary: Delete custom property
      operationId: deleteCustomProp
      responses:
        '200':
          description: Deleted.
components:
  schemas:
    CustomProp:
      type: object
      properties:
        site_id:
          type: string
        custom_prop:
          type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key
